{% extends "home.html" %}
{% block title %}{{ this.title }}{% endblock %}
{% block body %}
{{ this.body }}
<div class="row mb-1">
  <div class="col-12">
    <div class="row mt-4 mb-2">
      <h6 class="text-dark">
        Sign Up For Tor News
      </h6>
    </div>
    <div class="row mt-4 mb-2">
      <h1 class="display-4 text-primary">
        Get updates and opportunities from across the organization and community.
      </h1>
    </div>
  </div>
</div>
<div class="row mb-1">
  <div class="col-12">
    <div class="row mt-4 mb-2">
      <p>
        The information you provide here will only be used to send you updates
        and opportunities from Tor. You can unsubscribe at any time. We will not
        publish, sell, trade, share, or rent any information about you. Never.
      </p>
    </div>
  </div>
</div>
<div class="row mb-1">
  <div class="col-12">
    <div class="row mt-4 mb-2">
      <form action="https://donate-api.torproject.org/subscription-request" method="POST" class="form-wide">
        <input type="hidden" name="returnToReferrer" value="1" />
        <div class="form-group row">
          <div class="col-sm-12 errors">
          </div>
        </div>
        <div class="form-group row">
          <div class="col-sm-12">
            <input class="form-control form-control-lg form-required" id="email"
                name="email" placeholder="* Email Address" value="" type="email" />
          </div>
        </div>
        <div class="form-group row">
          <div class="col-sm-6 captcha">
            <input id="captcha" type="text" class="form-control form-control-lg form-required" data-name="captcha" data-stripe="captcha" aria-label="captcha" name="captcha" size="4" placeholder="* Enter the 4 letters (case insenstive) that appear below">
            <img src="https://donate-api.torproject.org/captcha" border="0" />
          </div>
        </div>
        <div class="form-group row">
          <div class="col-sm-12">
            <input class="donate btn btn-lg btn-success btn-block col-2" value="Join" type="submit" />
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<script src="{{ '/static/js/errors.js'|asseturl }}" ></script>
{% endblock %}
