{% extends "home.html" %}
{% block title %}{{ this.title }}{% endblock %}
{% block body %}
{{ this.body }}
<div class="row mb-1">
  <div class="col-12">
    <div class="row mt-4 mb-2">
      <h1 class="display-4 text-primary">
        Get updates and opportunities from across the organization and community.
      </h1>
    </div>
  </div>
</div>
<div class="row mb-1">
  <div class="col-12">
    <div class="row mt-4 mb-2">
      <p>
        👉 <a href="https://donate.torproject.org/subscribe">Click here to sign up for our email newsletter.</a>
      </p>
    </div>
  </div>
</div>
<script src="{{ '/static/js/errors.js'|asseturl }}" ></script>
{% endblock %}
